.header {
  padding: 36px 160px;
  display: flex;
  background-color: var(--white);
}

.container{
  padding: 36px 160px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--third-family);
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.04em;
  color: var(--links);
}

.navList {
  display: flex;
  gap: 80px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: var(--links);
}

.navItem {
  transition: color 0.3s ease;
}

.navItem:hover {
  color: var(--hover-links);
}

.basketWrapper svg {
  color: var(--links);
  transition: color 0.3s ease;
}

.basketWrapper svg:hover {
  color: var(--hover-links);
}

.basketWrapper {
  position: relative;
}


.counter {
  background-color: var(--main);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 32px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--white);
}

.logout{
  position: absolute;
  right: -90px;
  top: 3px;
}

.unAuthList {
  display: flex;
  gap: 8px;
  position: absolute;
  right: 164px;
}

.regLink {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.67;
  color: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--hover-links);
  width: 100px;
  height: 36px;
  transition: opacity 0.3s ease;
}

.regLink:hover {
  opacity: 0.8;
}

.loginLink {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.67;
  color: var(--links);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--main);
  background-color: transparent;
  width: 100px;
  height: 36px;
  transition:
    border-color 0.3s ease,
    color 0.3s ease;
}

.loginLink:hover {
  border-color: var(--hover-btn);
  color: var(--hover-btn);
}
