.container {
  display: flex;
  gap: 200px;
  padding: 120px 160px;
}

.text {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 1.46;
  color: var(--main);
}

.paragraph {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  color: var(--text);
  margin-bottom: 92px;
}

.btnList {
  display: flex;
  gap: 20px;
}

.sell {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.67;
  color: var(--links);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--main);
  background-color: transparent;
  width: 228px;
  height: 81px;
  transition: border-color 0.3s ease, color 0.3s ease;
}

.sell:hover {
  border-color: var(--hover-btn);
  color: var(--hover-btn);
}

.buy {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.67;
  color: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main);
  width: 228px;
  height: 81px;
  transition: background-color 0.3s ease;
}

.buy:hover {
  background-color: var(--hover-btn);
}
