.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 1.46;
  color: var(--main);
  margin-left: 160px;
}

.container {
  padding: 40px 160px;
  display: flex;
  gap: 40px;
}

.adsList {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.adsItem {
  padding: 28px 12px;
  width: 480px;
  height: 480px;
  background-color: transparent;
  border: 3px solid var(--main);
  border-radius: 16px;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  gap: 24px;
  position: relative;
}

.image {
  border-radius: 16px;
}

.mainTextContent {
  display: flex;
  flex-direction: column;
}

.name {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.46;
  color: var(--main);
  margin: 0;
}

.price {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 1.46;
  color: var(--hover-btn);
  margin: 0;
}

.learnMore {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.67;
  color: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--hover-links);
  width: 144px;
  height: 51px;
  transition: opacity 0.3s ease;
  margin-top: 8px;
}

.learnMore:hover {
  opacity: 0.8;
}

.description {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  color: var(--text);
  margin-top: 12px;
}

.basket svg {
  color: var(--links);
  transition: color 0.3s ease;
}

.basket svg:hover {
  color: var(--hover-links);
}

.basketBtn {
  position: absolute;
  top: -20px;
  left: 420px;
}



.loadMoreContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 32px; 
}

.loadMore {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--text);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 200px;
  height: 71px;
  border: 2px solid transparent;
  border-radius: 48px;
  cursor: pointer;
  transition: border 0.3s ease;
}

.loadMore:hover{
    border: 2px solid var(--hover-btn);
}


