.container {
  padding: 40px 160px;
  display: flex;
  gap: 36px;
}

.imageContainer {
  flex-shrink: 0;
}

.image {
  border-radius: 16px;
  object-fit: contain;
}

.textContainer {
  flex: 1;
  min-width: 0; 
}

.name {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 1.46;
  color: var(--main);
}

.price {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 40px;
  line-height: 146%;
  color: var(--main);
}

.descriptionTitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  color: var(--text);
  margin-top: 16px;
}


.description {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 18px; 
  line-height: 140%;
  color: var(--text);
  margin-top: 8px;
  
  max-height: 120px;
  overflow-y: auto;
  padding-right: 8px;
  word-break: break-word; 
}


.description::-webkit-scrollbar {
  width: 6px;
}

.description::-webkit-scrollbar-thumb {
  background-color: var(--main);
  border-radius: 4px;
}

.description::-webkit-scrollbar-track {
  background-color: transparent;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  column-gap: 140px;
  row-gap: 40px;
  margin-top: 24px;
}

.itemWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.paragraph {
  margin: 0 0 4px 0;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 18px;
}

.storage {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
}

.buttons {
  margin-top: 52px;
  display: flex;
  gap: 18px;
}

.addToBasketBtn {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.67;
  color: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main);
  width: 400px;
  height: 60px;
  transition: background-color 0.3s ease;
  gap: 8px;
  border: none;
  cursor: pointer;
}

.disabled {
  opacity: 0.8;
  cursor: not-allowed;
  pointer-events: none;
}

.addToBasketBtn:hover {
  background-color: var(--hover-btn);
}

.contactLink {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.67;
  color: var(--links);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--main);
  background-color: transparent;
  width: 320px;
  height: 60px;
  transition:
    border-color 0.3s ease,
    color 0.3s ease;
  gap: 8px;
  text-decoration: none;
}

.contactLink:hover {
  border-color: var(--hover-btn);
  color: var(--hover-btn);
}

.infoAuthor {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.infoP {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
}

.contactUser {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 18px;
}